/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}



/* My custom css */
/* global style variable */
:root {
  --calendar-background: linear-gradient(180deg, rgba(170, 72, 205, 0.572) 37.24%, rgba(72, 158, 205, 0) 102.87%);;
}




@font-face {
  font-family: "JetBrainsMonoRegular";
  src: url("../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "JetBrainsMonoBold";
  src: url("../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Bold.ttf");
}
body {
  color: #000;
  font-family: "JetBrainsMonoRegular", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1283px;
  flex-direction: column;
  background: var(--calendar-background);

}

.header {
  display: flex;
  align-items: center;
}
.main-logo, .navbar-list-point{
  color: inherit;
}
.logo > .main-logo {
  font-family: "JetBrainsMonoBold", sans-serif;
  font-size: 32px;
  padding: 18px 7px 13px 13px;
  
}

hr {
  border: 1px solid black;
}

.logo:after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border: 1px solid black;
  top: 0;
}

.navbar {
}
.navbar > ul {
  display: flex;
  justify-content: space-around;
}

.navbar-list-point {
  
}

.exercises-list {
  column-count: 2;
  column-gap: 30px;
  column-width: 460px;
  margin-top: 0px;
}

.main-header-of-day {
  text-align: center;
  column-span: all;
}

.program-training {
  text-align: center;
  column-span: all;
}
.description-training {
  text-align: center;
  column-span: all;
}

.list-of-exercises {
  break-inside: avoid;
}